*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(90deg, rgb(0, 0, 0) 10%, rgba(0, 212, 255, 2 )  100%);
}

.board {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);    
}

.board.x .cell:not(.x):not(.c):hover::after,
.board.x .cell:not(.x):not(.c):hover::before,
.board.c .cell:not(.x):not(.c):hover::before,
.board.c .cell:not(.x):not(.c):hover::after {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

/*Células*/

.cell{
    width: 100px;
    height: 100px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.x, .cell.c {
    cursor: not-allowed;
} 

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

/*X*/

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.c):hover::after,
.board.x .cell:not(.x):not(.c):hover::before {
    content: '';
    height: calc(100px * 0.15);
    width: calc(100px * 0.9);
    background-color: white;
    position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.c):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.c):hover::after {
    transform: rotate(-45deg);
}

/*C*/

.cell.c::before,
.cell.c::after,
.board.c .cell:not(.x):not(.c):hover::after,
.board.c .cell:not(.x):not(.c):hover::before {
    content: '';
    height: calc(100px * 0.9);
    width: calc(100px * 0.9);
    background-color: white;
    position: absolute;
    border-radius: 50%;
}

/*Mensagem de vitória*/
.win {  
display: none;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
justify-content: center;
align-items: center;
background-color: rgba(0, 0, 0, 0.8);
flex-direction: column;
}

.win>button {
    font-size: 2.5rem;
    background-color: rgba(65, 185, 131, 1);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 16px;
    color: white;
}

.win>button:hover {
    color: rgba(65, 185, 131, 1);
    background-color: white;

}

.win>button>a {
    text-decoration: none;
    color: white;
}

.win>button>a:hover {
    text-decoration: none;
    color:  rgba(65, 185, 131, 1);;
}

.win>p {
    color: white;
    font-size: 5rem;
}

.show-win-text {
    display: flex;
}
